@import url(tokens.css);
@import url(colors.module.css);
@import url(typography.module.css);
@import url(theme.light.css) (prefers-color-scheme: light);
@import url(theme.dark.css) (prefers-color-scheme: dark);

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--md-ref-palette-secondary95);
  height: 100%;
  width: 100%;
  color: var(--md-sys-color-on-secondary-container);
  font-family: 'Raleway', sans-serif;
}

/* NAV BAR */

nav {
  background-color: var(--md-ref-palette-primary60);
  margin: 1rem;
  padding: 0.5rem;
  width: 95vw;
}

.nav-link {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-weight: bold;
}

.nav-link-container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

nav a {
  text-decoration: none;
  padding: 1rem;
  transition: background-color 0.3s ease-in-out;
  color: var(--md-sys-color-on-primary);
}

nav a:hover {
  background-color: var(--md-ref-palette-primary40);
}

/* FOOTER */

.contact-p {
  display: flex;
  justify-content: center;
  padding: 1rem;
  padding-bottom: 0;
  font-weight: bold;
}

.contact-link {
  text-decoration: none;
  padding: 1rem;
}

.footer {
  background-color: var(--md-ref-palette-primary60);
  margin: 1rem;
  width: 95vw;
  padding: 1rem;
  color: var(--md-sys-color-on-primary);
}

.footer-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer a {
  color: var(--md-sys-color-on-primary);
}

.footer a:hover {
  background-color: var(--md-ref-palette-primary40);
}

.footer-link {
  list-style: none;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  margin-left: 8rem;
  margin-right: 8rem;
}

.linkedin {
  text-decoration: none;
  padding: 1rem;
}

.footer-link-container {
  display: flex;
  flex-direction: row;
}

/* HOME */

.home-buttons {
  flex-direction: column;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 1rem;
  width: fit-content;
  padding: 0.5rem;
  background-color: var(--md-sys-color-tertiary);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
}

button a {
  color: var(--md-sys-color-on-tertiary);
  text-decoration: none;
  margin-left: 1rem;
  margin-right: 1rem;
}

button:hover {
  background-color: var(--md-sys-color-tertiary-container);
  cursor: pointer;
}

button:hover a {
  color: var(--md-sys-color-on-tertiary-container);
}

button:hover .icon-arrow {
  color: var(--md-sys-color-on-tertiary-container);
}

.icon-arrow {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--md-sys-color-on-tertiary);
  margin-left: 0.5rem;
}

/* ABOUT */

.profile-picture {
  margin: 1rem;
}

img {
  width: 20rem;
  border-radius: 10rem;
}

.about-container {
  display: flex;
  background-color: var(--md-sys-color-secondary);
  padding: 2rem;
  margin: 3rem;
  justify-content: center;
}

.about-title {
  font-style: italic;
}

.about-text {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 2rem;
  color: var(--md-sys-color-on-secondary-container);
}

/* PROJECTS */

.project-buttons {
  flex-direction: column;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}