@import url(tokens.css);
@import url(colors.module.css);
@import url(typography.module.css);
@import url(theme.light.css) (prefers-color-scheme: light);
@import url(theme.dark.css) (prefers-color-scheme: dark);

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--md-ref-palette-secondary95);
  height: 100%;
  max-width: 100%;
  color: var(--md-sys-color-on-secondary-container);
  font-family: 'Raleway', sans-serif;
  background-image: url('https://media.tenor.com/M1cPKCGNcIsAAAAM/night-star.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: screen;
}


/* NAV BAR */

nav {
  background-color: var(--md-ref-palette-primary60);
  margin: 1rem;
  padding: 0.5rem;
  width: 95vw;
}

.nav-link {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-weight: bold;
}

.nav-link-container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

nav a {
  text-decoration: none;
  padding: 1rem;
  transition: background-color 0.3s ease-in-out;
  color: var(--md-sys-color-on-primary);
}

nav a:hover {
  background-color: var(--md-ref-palette-primary40);
}

/* FOOTER */

.contact-p {
  display: flex;
  justify-content: center;
  padding: 1rem;
  padding-bottom: 0;
  font-weight: bold;
}

.contact-link {
  text-decoration: none;
  padding: 1rem;
}

.footer {
  background-color: var(--md-ref-palette-primary60);
  margin: 1rem;
  width: 95vw;
  padding: 1rem;
  color: var(--md-sys-color-on-primary);
}

.footer-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer a {
  color: var(--md-sys-color-on-primary);
}

.footer a:hover {
  background-color: var(--md-ref-palette-primary40);
}

.footer-link {
  list-style: none;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  margin-left: 8rem;
  margin-right: 8rem;
}

.linkedin {
  text-decoration: none;
  padding: 1rem;
}

.footer-link-container {
  display: flex;
  flex-direction: row;
}

/* HOME */

.home-buttons {
  flex-direction: column;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 1rem;
  width: fit-content;
  padding: 0.5rem;
  background-color: var(--md-sys-color-tertiary);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  color: var(--md-sys-color-on-tertiary);
}

button a {
  color: var(--md-sys-color-on-tertiary);
  text-decoration: none;
  margin-left: 1rem;
  margin-right: 1rem;
}

button:hover {
  background-color: var(--md-sys-color-tertiary-container);
  cursor: pointer;
  color: var(--md-sys-color-on-tertiary-container);
}

button:hover a {
  color: var(--md-sys-color-on-tertiary-container);
}

button:hover .icon-arrow {
  color: var(--md-sys-color-on-tertiary-container);
}

.icon-arrow {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--md-sys-color-on-tertiary);
  margin-left: 0.5rem;
}

/* ABOUT */

.profile-picture {
  margin: 1rem;
}

.profile-picture {
  width: 20rem;
  border-radius: 10rem;
}

.about-container {
  display: flex;
  background-color: var(--md-sys-color-secondary);
  padding: 2rem;
  margin: 3rem;
  justify-content: center;
}

.about-title {
  font-style: italic;
}

.about-text {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 2rem;
  color: var(--md-sys-color-on-secondary-container);
}

.about-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* PROJECTS */

.project-buttons {
  flex-direction: column;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CONTACT */

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--md-sys-color-secondary);
  width: 50%;
  height: 35rem;
}

.contact-input {
  width: 90%;
  margin-bottom: 2rem;
  margin-top: 1rem;
  padding: 0.5rem;
  font-family: 'Raleway', sans-serif;
}

.message {
  width: 90%;
  height: 80%;
  margin-bottom: 1rem;
  white-space: pre-wrap;
  font-family: 'Raleway', sans-serif;
  padding: 0.5rem;
  margin-top: 1rem;
}

.contact p {
  padding-top: 1rem;
}

/* SPECIFIC PROJECT */

.project-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-title {
  text-align: center;
  margin-bottom: -2rem;
}

.details-cont {
  background-color: var(--md-sys-color-secondary);
  width: 80%;
  margin: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

.screenshot {
  width: 50%;
  margin: 2rem;
}

.scroll-cont {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  margin: 3rem;
  margin-top: -1rem;
}

.scroll-cont::-webkit-scrollbar {
  width: 1rem;
}

.scroll-cont::-webkit-scrollbar-track {
  background-color: var(--md-sys-color-tertiary-container);
  ;
  border-radius: 1rem;
}

.scroll-cont::-webkit-scrollbar-thumb {
  background-color: var(--md-sys-color-tertiary);
  border-radius: 1rem;
}

.scroll-cont::-webkit-scrollbar-thumb:hover {
  background-color: var(--md-sys-color-on-tertiary-container);
}

.screenshots-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--md-sys-color-secondary);
  width: 80%;
  margin: 2rem;
}

.video-demo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem;
  background-color: var(--md-sys-color-secondary);
  width: 80%;
}

video {
  width: 60%;
  margin: 3rem;
  margin-top: 0.5rem;
}

/* RESUME */

.resume-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inside-resume {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.misc-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inside-misc {
  margin: 0.3rem;
}

.education {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.download {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {

  .app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    max-width: 100%;
  }

  /* FOOTER */

  .contact-p {
    padding: 1rem;
    padding-bottom: 0;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-link {
    text-decoration: none;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer {
    margin: 1rem;
    width: 80vw;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .footer-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80vw;
  }

  .footer a {
    color: var(--md-sys-color-on-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer a:hover {
    background-color: var(--md-ref-palette-primary40);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-link {
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin-left: 8rem;
    margin-right: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .linkedin {
    text-decoration: none;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}